/* @import "tailwindcss"; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --background: light-dark(#ededed, #171717);
  --foreground: light-dark(#171717, #ededed);
  --primary-color: light-dark(
    oklch(0.5912 0.1222 166.29),
    oklch(0.6187 0.1222 166.29)
  );
}

html {
  scroll-behavior: smooth;
}
html[data-theme="light"] {
  color-scheme: light;
}
html[data-theme="dark"] {
  color-scheme: dark;
}

body {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-martian-mono);
  --mode-transition: 0.3s cubic-bezier(1, 0.24, 0.83, 0.67),
    color 0.3s ease-in-out 0.2s;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color var(--mode-transition);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

span {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
  text-align: center;
}

p {
  line-height: 1.6;
}

button {
  font-family: inherit;
  padding: 0.5em 1em;
  font-size: 1rem;
}

/* header */
header {
  z-index: 1000;
  position: absolute;
  inset: 0;
  height: fit-content;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  transition: var(--mode-transition);
}

header > .nav_container {
  display: flex;
  width: min(700px, 100%);
  justify-content: space-between;
  align-items: center;
}

.x_img_container {
  img {
    height: 1rem;
    scale: 2;
  }
}

.icon_button {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0.1rem;
}
.icon_button > svg {
  --rays-radius: 14;
  --base-radius: 8;
  scale: 0.8;
}

#celestial_rays,
#celestial_base {
  transition: all 0.5s ease-in-out, fill var(--mode-transition);
}

#celestial_rays {
  fill: color-mix(in oklch, var(--background), transparent 100%);
  r: var(--rays-radius);
  stroke: var(--primary-color);
  stroke-width: 4;
  stroke-dasharray: 0 calc((var(--rays-radius) * 2 * pi) / 8);
  stroke-linecap: round;
}
#celestial_base {
  fill: var(--primary-color);
  r: var(--base-radius);
}

.icon_button:hover {
  @media (hover: hover) and (pointer: fine) {
    #celestial_rays {
      transition-delay: 0s;
      --rays-radius: 12;
    }
    #celestial_base {
      transition-delay: 0s;
      --base-radius: 6;
    }
  }
}

.icon_button.dark_mode {
  #celestial_rays {
    fill: var(--background);
    stroke-width: 0px;
    stroke-dasharray: 40px 0px;
    cx: 26;
    cy: 12;
  }
  #celestial_base {
    --base-radius: var(--rays-radius);
  }
}

/* main */
main {
  --content-max-width: 70ch;
  --breakout-max-padding: 4rem;
  --padding-inline: 1rem;
  /* position: relative; */
  /* overflow-x: clip; for the svg */
}

.content_grid {
  display: grid;
  grid-template-columns:
    [fullscreen-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(var(--padding-inline), var(--breakout-max-padding))
    [content-start] min(
      100% - 4 * var(--padding-inline),
      var(--content-max-width)
    )
    [content-end] minmax(var(--padding-inline), var(--breakout-max-padding))
    [breakout-end] minmax(var(--padding-inline), 1fr) [fullscreen-end];
}
.content_grid > * {
  grid-column: content;
}
.content_grid > .breakout {
  grid-column: breakout;
}
.content_grid > .fullscreen {
  grid-column: fullscreen;
}

/* section {
  background-color: red;
} */

/* hero section */
.hero_section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
}
#custom_emoji {
  position: relative;
  &::after {
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -1;
  }
}

.button_icon_emoji {
  vertical-align: middle;
  font-size: 1.5rem;
}

.hero_svg {
  position: fixed;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  width: max(120%, 1600px);
  rotate: -10deg;
  aspect-ratio: 428/120;
  z-index: -1;
  filter: drop-shadow(0 -0.75rem 0.5rem var(--primary-color));
  path {
    stroke-width: 0.5;
  }
  .offset_path {
    stroke-width: 1;
    stroke: var(--primary-color);
    z-index: -2;
    filter: blur(0.5rem);
    transform: translateY(-0.7rem);
  }
}

@property --_start_color {
  syntax: "<color>";
  inherits: false;
  initial-value: oklch(0.5912 0.1222 166.29 / 1);
}

@property --_end_color {
  syntax: "<color>";
  inherits: false;
  initial-value: oklch(0.5912 0.1222 166.29 / 0);
}

.gradient {
  animation: color_change 7s linear infinite;
}
.offset_path {
  animation: opacity_change 7s linear infinite;
}

.gradient.start {
  stop-color: var(--_start_color);
}

.gradient.end {
  stop-color: var(--_end_color);
}

@keyframes color_change {
  50% {
    --_start_color: oklch(0.5912 0.1222 166.29 / 0);
    --_end_color: oklch(0.5912 0.1222 166.29 / 1);
  }
}
@keyframes opacity_change {
  50% {
    opacity: 0;
  }
}

/* projects section */

section#projects {
  min-height: 100vh;
}
.mobile_projects_bg,
.mobile_projects_bg::before,
.mobile_projects_bg::after {
  aspect-ratio: 1/2.12;
  background-size: cover;
}

.mobile_projects_bg {
  position: relative;
  width: 320px;
  background-image: light-dark(
    url("/projects/bg-mobile-light.webp"),
    url("/projects/bg-mobile-dark.webp")
  );
  margin-inline: auto;
}

.mobile_projects_bg::before,
.mobile_projects_bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 75%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile_projects_bg::before {
  left: -30%;
  background-image: light-dark(
    url("/projects/nova-erp-one.webp"),
    url("/projects/nova-expense-one.webp")
  );
  rotate: -20deg;
  transform-origin: left bottom;
}
.mobile_projects_bg::after {
  right: -30%;
  background-image: light-dark(
    url("/projects/nova-erp-two.webp"),
    url("/projects/nova-expense-two.webp")
  );
  rotate: 20deg;
  transform-origin: right bottom;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  padding: 1rem;
}

.socials_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 3rem;
  border-radius: 100vw;
  /* background-color: transparent; */
  border: 4px solid light-dark(#00000010, #ffffff10);
  backdrop-filter: blur(0.3rem);
}

.socials_wrapper img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  --_invert: light-dark(0%, 100%);
  filter: invert(var(--_invert)) drop-shadow(0 0 0.5px white)
    drop-shadow(0 0 0.5px black);
}
#rick_roll_icon {
  filter: none;
  width: 2.25rem;
  height: 1.5rem;
  animation: beat 2s infinite;
}
@keyframes beat {
  50% {
    transform: scale(1.2);
  }
}
